
/const.py


!/images/human_data/
/images/human_data/*

!/images/human_data/photos/
/images/human_data/photos/*
/images/human_data/photos/.gitkeep

!/images/human_data/faces/
/images/human_data/faces/*
/images/human_data/faces/.gitkeep

!/images/human_data/preprocessed_faces/
/images/human_data/preprocessed_faces/*
/images/human_data/preprocessed_faces/.gitkeep

!/images/learning_data/
/images/learning_data/*

!/images/learning_data/faces/
/images/learning_data/faces/*
/images/learning_data/faces/.gitkeep


/models/*


/__pycache__/


!.gitkeep
